<!DOCTYPE html>
<html>
<head>
    <title>Payment Failed</title>
    <link rel="stylesheet" href="failed.css">
</head>
<body>
    <div class="body">
        <img src="images/transaction_failed.png" alt="Failed">

        <div class="back-to-home">
            <p>Payment failed.</p>
            <p>Please try again later.</p>
            <a href="/home">Back to Home Page</a>
        </div>
    </div>
</body>
</html>
