<!DOCTYPE html>
<html>
<head>
    <title>Payment Success</title>
    <link rel="stylesheet" href="success.css">
</head>
<body>
    <div class="body">
        <img src="images/success_transaction.png" alt="Success"> 

        <div class="back-to-home">
            <a href="/home">Back to Home</a> 
        </div>
    </div>
    <script src="session-timeout/session-timeout.js"></script>
</body>
</html>
