      body {
        font-family: Arial, sans-serif;
        background-image: linear-gradient(to bottom right, #E0EEE0, #FAF0E6);
      }

      .container {
        max-width: 800px;
        margin: 0px auto;
        margin-top: 0px;
        padding: 20px;
        position: relative;
      }
      
      .logout-form {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
      
      p {
        line-height: 1.5;
        margin-bottom: 20px;
        text-align: center;
      }
      
      button {
        display: block;
        margin: 45px 12px;
        padding: 10px 20px;
        background-color: #ff4444;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #cc0000;
      }
      

/* products */
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px 0px 20px;
  background-color: #f2f2f2;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display three products in one row */
  gap: 20px;
  justify-content: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #eaeaea;
}
.product-item:hover {
  transform: scale(1.02); 
  transition: transform 0.2s ease-in-out; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  z-index: 1; 
}

.product-item img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.product-details {
  margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.product-details h3 {
  margin-bottom: 5px;
  font-size: 16px;
  text-align: center;
}

.product-details p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

.price-and-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-container input[type="number"] {
  width: 50px; /* Adjust the width as needed */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.add-to-cart,
.add-to-wishlist {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 10px;
}

.add-to-cart:hover {
  background-color: #FF9800;
}

.add-to-wishlist {
  background-color: #337ab7;
}


.user {
  padding: 5px 2px 5px 2px;
  background: #81d4fa;
  color: white; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-left:370px;
}

.user:hover {
  padding: 5px 2px 5px 2px;
  background: #4ba3c7;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
a.user {
  text-decoration: none;
  color: white;
}
a.user:hover {
  text-decoration: none;
  color: white;
}

.users{
  padding:4px;
  margin-right: 40px;
  margin-top: 2px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.message{
  color: #4caf50;
  font-size: 25px;
  text-align: center;
}

/* Navbar Styles */

.d-flex{
  margin-right: 400px;
}

.userrr{
  margin-right: 10px;
  text-decoration:none;
  background-color: #337ab7;
  color: black;
  border-radius: 5px;
  padding: 8px;
}

.logouttt{
  margin-right: 10px;
  text-decoration:none;
  background-color: #cc0000;
  color: black;
  border-radius: 5px;
  padding: 8px;
}

.logouttt:hover{
  color: black;
  background-color: #a30000;
}

.userrr:hover{
  color: black;
  background-color: #135ba3;
}

a.nav-link{
  position: relative;
}

a.nav-link::after{
    content: '';
    width: 0;
    height: 2px;
    background:#000;
    position: absolute;
    left: 8px;
    bottom: 5px;
    transition: 0.5s;
}

a.nav-link:hover::after{
  width: 50%; 
}


