* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-image: linear-gradient(to bottom right, #E0EEE0, #FAF0E6);
}

.container {
	max-width: 500px;
	margin: 80px auto 40px;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	background-image: linear-gradient(to bottom right, #88C7B2, #C3E0CC);
}

h1 {
	text-align: center;
	margin-bottom: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
}

input[type="submit"] {
	padding: 10px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

p {
	margin-top: 10px;
	text-align: center;
}

a {
	color: #4CAF50;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#error-message {
	color: red;
	text-align: center;
  }

#success-message{
	color: #4CAF50;
	text-align: center;
}

.back-to-login {
	display: block;
	margin-top: 20px;
	font-size: 16px;
	text-align: center;
	color: #007bff;
	text-decoration: none;
  }
  
  .back-to-login:hover {
	text-decoration: underline;
  }

   /* eye button***********/

   .password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.eye-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 43%;
    right: 10px;
    transform: translateY(-50%);
}

.eye-button i {
    color: #999;
}

.password-container input[type="password"] {
    padding-right: 30px;
    width: 100%;
}

#password,#c_password{
    width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.mandatory{
	margin-left: 5px;
	font-size: 17px;
	color: red;
}

/* Navbar Styles */
.navbar {
    padding: 7px 20px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #000; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    margin-left: auto; 
}

.nav-item {
    margin-right: 20px; 
}

.nav-link {
    font-size: 18px;
    color: #000;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #72C3DC !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.click_here{
	margin-left: 3px;
}
